name: Code quality check
on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
    code-format:
        name: Formatting code
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
               python-version: "3.13"
            - name: Install tox
              run: python -m pip install tox
            - name: Check formatting
              run: tox -e format
    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
               python-version: "3.13"
            - name: Install tox
              run: python -m pip install tox
            - name: Lint
              run: tox -e lint
    type-check:
        name: Typecheck
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
               python-version: "3.13"
            - name: Install tox
              run: python -m pip install tox
            - name: Check types
              run: tox -e typecheck

    test:
        name: Test
        runs-on: ubuntu-latest
        strategy:
            matrix: 
                python:
                    - version: "3.14t"
                      toxenv: "py314t"           
                    - version: "3.13"
                      toxenv: "py313"
                    - version: "3.12"
                      toxenv: "py312"
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
                python-version: ${{ matrix.python.version }}
            - name: Install tox
              run: python -m pip install tox
            - name: Run pytest
              run: tox -e ${{ matrix.python.toxenv }}